.header-index {
  height: 70px;
  background-color: #ff6600;
  align-items: center;
  opacity: 0.8;
  justify-content: space-between;
}

.header-index h1 {
  margin: 0 0 0 30px;
  font-style: italic;
  font-size: 20px;
  color: #fff;
}

.header-index span {
  color: #00498d;
  font-size: 20px;
}

.blue-div-index {
  height: 10px;
  background-color: #00498d;
}

.header-index__logo {
  display: flex;
}

.header-index__nav {
  display: flex;
  justify-content: center;
}

.header-index__nav ul {
  display: flex;
  align-items: center;
}

.header-index__nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  outline: none;
  transition: color 0.3s;
}

.header-index__nav a:hover,
.header-index__nav a:active {
  color: #c4c3c3;
  outline: none;
}

.header-index__user-logout {
  display: flex;
  align-items: center;
}

.header-index__user-logout span {
  width: 3px;
  background-color: #00498d;
  height: 40px;
}

.header-index__user-logout div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header-index__user-logout h1 {
  font-style: normal;
  margin-right: 10px;
}

.header-index__user-logout img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-index__user-logout button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  transition: 0.2s color;
}
.header-index__user-logout button:hover {
  color: #c4c3c3;
}
